<!DOCTYPE html>
<html lang="en">
  <head><%- include("partials/head")%></head>
  <body>
    <header><%- include("partials/header")%></header>
    <main>
      <h1 class="titulo_main">Bienvenido Gamer</h1>
      <h3 class="subtitulo_main">A la mejor tienda online gaming de panamá</h3>
      <section class="contenedor_sliderPadre">
        <div class="contenedor_sliderHijo">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide-to="3"
                aria-label="Slide 4"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="/images/swepper_pcGamer.webp"
                  class="d-block w-100"
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5><a href="/products/category/computadoras">Computadoras Gamers</a></h5>
                  <p>Seguro que encontraras la mejor Pc para ti.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  src="/images/swepper_consolas.jpg"
                  class="d-block w-100"
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5><a href="/products/category/consolas">Consolas</a></h5>
                  <p>
                    Tenemos la generacion actual de consolas para tus birrias
                    con amigos.
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  src="/images/swepper_celulares.webp"
                  class="d-block w-100"
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5><a href="/products/category/telefonos">Celulares Gamer</a></h5>
                  <p>
                    los mejores celulares gamer para que juegues tus juegos
                    mobile favoritos con muchos FPS.
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  src="/images/swepper_perifericos.jpg"
                  class="d-block w-100"
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5><a href="/products/category/perifericos">Perifericos</a></h5>
                  <p>
                    Audifonos, Teclados, Mouse, Pantallas y mucho mas.
                  </p>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </section>
      <h3 class="subtitulo_main">Te puede interesar:</h3>
      <section class="tarjetas_grupo">
       <% list.forEach(product => { %>

       
        <article class="tarjetas">
          <div class="imagen_producto"><img src="/images/products/<%= product.image %>" alt="imagen_product" /></div>
          <span class="nombre_producto"><a href="/products/productDetail/<%= product.id %>"><%=product.name %></a></span>
          <p class="descripcion_producto">
            <%=product.description %>
          </p>
          <div class="div_precio"><span class="precio_texto">precio:</span><span class="precio_producto"><%=product.price%>$</span></div>
            <form action="/cart/addToCart" method="POST" class="form_añadirCarrito"> <!-- Añadido formulario -->
              <input type="hidden" name="product_id" value="<%= product.id %>"> <!-- ID del producto -->
              <button class="boton_añadir" type="submit">Añadir al carrito</button>
          </form>
        </article>
      <% }) %>
      </section>
    </main>
    <footer><%- include("partials/footer")%></footer>
    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/tarjetas.js"></script>
  </body>
  
</html>
