<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head")%>
    <link rel="stylesheet" href="/stylesheets/cart_style.css" />
  </head>
  <body>
    <header><%- include("../partials/header")%></header>
    <main class="cart_main">
        <h1 class="carrito_titulo"><%= title %></h1>
        <ul class="lista_carrito">
            <% let total = 0; %>
            <% let tax = 0.07; %> <!-- 7% de impuesto itbms -->
            <% cartItems.forEach(item => { %>
                <% const subtotal = item.Product.price ? (item.Product.price * item.quantity) : 0; %>
                <% total += subtotal; %>
                <li class="item_carrito">
                    <div class="producto_info">
                        <img src="/images/products/<%= item.Product.image %>" alt="<%= item.Product.name %>" class="imagen_producto">
                        <div class="detalles_producto">
                            <h3><%= item.Product.name %></h3>
                            <p>Categoría: <%= item.Product.category %></p>
                            <p>Precio Unitario: <%= item.Product.price ? item.Product.price.toFixed(2) : '0.00' %> $</p>
                            <p>Cantidad: <%= item.quantity %></p>
                            <p>Precio: <%= subtotal.toFixed(2) %> $</p>
                        </div>
                    </div>
        
                    <!-- Formulario para actualizar la cantidad -->
                    <form action="/cart/update" method="POST" class="formulario_actualizar">
                        <input type="hidden" name="product_id" value="<%= item.product_id %>">
                        <input type="number" name="quantity" value="<%= item.quantity %>" min="1">
                        <button type="submit">Actualizar</button>
                    </form>
        
                    <!-- Formulario para eliminar el producto del carrito -->
                    <form action="/cart/remove" method="POST" class="formulario_eliminar">
                        <input type="hidden" name="product_id" value="<%= item.product_id %>">
                        <button type="submit">Eliminar</button>
                    </form>
                </li>
            <% }) %>
        </ul>
        
        <div class="totales_carrito">
            <h2>Subtotal: <%= total.toFixed(2) %> $</h2>
            <h2>ITBMS (7%): <%= (total * tax).toFixed(2) %> $</h2>
            <h2>Total con ITBMS: <%= (total + (total * tax)).toFixed(2) %> $</h2>
        </div>
        
    </main>
    <footer><%- include("../partials/footer")%></footer>
    <script src="/javascripts/home.js"></script>
  </body>
</html>
