<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head")%>
  </head>
  <body>
    <header><%- include("../partials/header")%></header>
    <main class="productos_main">
      <div class="div_padre_productos">
        <h1 class="titulo_productos">Detalles de producto</h1>
        <div class="div_hijo_productos">
          <section class="section_imagenes_productos">
            <div class="img_producto_grande">
              <i class='bx bx-left-arrow' id="flecha_izq" onclick="moverIzquierda()"></i>
              <img src="/images/products/<%= product.image %>" id="mainImage"/>
              <i class='bx bx-right-arrow' id="flecha_der" onclick="moverDerecha()"></i>
              <button type="button" id="agrandar_img" onclick="entrarPantallaCompleta()">Ver en pantalla completa</button>
            </div>
            <div id="modalFullscreen">
              <img id="fullscreenImage" src="img_producto_1.jpg">
              <button id="closeFullscreen" onclick="salirPantallaCompleta()"><i class='bx bx-x'></i></button>
              <button id="flecha_full_izq" onclick="moverIzquierdaFull()"><i class='bx bx-left-arrow'></i></button>
              <button id="flecha_full_der" onclick="moverDerechaFull()"> <i class='bx bx-right-arrow'></i></button>
            </div>
            <div class="thumbnails">
              <img id="img_detalles_producto_1" src="/images/products/<%= product.image1 %>" alt="Miniatura 1" onclick="cambiarImagen(this)">
              <img id="img_detalles_producto_2" src="/images/products/<%= product.image2 %>" alt="Miniatura 2" onclick="cambiarImagen(this)">
              <img id="img_detalles_producto_3" src="/images/products/<%= product.image3 %>" alt="Miniatura 3" onclick="cambiarImagen(this)">
              <img id="img_detalles_producto_4" src="/images/products/<%= product.image4 %>" alt="Miniatura 4" onclick="cambiarImagen(this)">
            </div>
          </section>
          <section class="section_texto_productos">
            <span class="nombre_producto"
              ><a href="/products/productDetail"
                ><%= product.name %></a
              ></span
            >
            <ul class="lista_detalles_producto">
             <li><%= product.brand %></li>
             <li><%= product.model %></li>
             <li><%= product.specs1 %></li>
             <li><%= product.specs2 %></li>
             <li><%= product.specs3 %></li>
            </ul>
            <p class="parrafo_producto">
              <%=product.description2 %>
            </p>
            <div class="div_precio_producto"><span class="precio_texto_producto">Precio:</span><span class="precio_producto"><%= product.price %>$</span></div>
            <button class="boton_añadir" type="submit">
              Añadir al carrito
            </button>
          </section>
        </div>
      </div>
    </main>
    <footer><%- include("../partials/footer")%></footer>
    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/productDetail.js"></script>
  </body>
</html>
