<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header><%- include("../partials/header") %></header>
    <main class="productos_main">
      <div class="div_padre_productos">
        <h1 class="titulo_editar">Editar Producto</h1>

        <!-- Barra de búsqueda para editar producto por ID -->
        <form id="searchForm">
          <input type="text" id="search_edit" name="query" placeholder="Escribe el ID del producto" autocomplete="off" required>
          <button type="submit" id="lupa_edit"><i class="bx bx-search"></i></button>
        </form>
        <ul id="suggestions"></ul>

        <% if (product) { %>
          <form action="/productos/save" method="POST" class="form_editar_productos" enctype="multipart/form-data"> 
              <input type="hidden" id="product-id" name="id" value="<%= product.id %>">
              
              <label for="name">Nombre del producto:</label>
              <input type="text" id="name" name="name" value="<%= product.name %>" required>

              <label for="brand">Marca:</label>
              <input type="text" id="brand" name="brand" value="<%= product.brand %>" required>

              <label for="model">Modelo:</label>
              <input type="text" id="model" name="model" value="<%= product.model %>" required>

              <label for="specs1">Especificación 1:</label>
              <input type="text" id="specs1" name="specs1" value="<%= product.specs1 %>" required>

              <label for="specs2">Especificación 2:</label>
              <input type="text" id="specs2" name="specs2" value="<%= product.specs2 %>" required>

              <label for="specs3">Especificación 3:</label>
              <input type="text" id="specs3" name="specs3" value="<%= product.specs3 %>">

              <label for="description">Descripción:</label>
              <textarea id="description" name="description" required><%= product.description %></textarea>

              <label for="description2">Descripción 2:</label>
              <textarea id="description2" name="description2" required><%= product.description2 %></textarea>

              <label for="image">Imagen principal:</label>
            <input type="file" id="image" name="image" accept=".jpg,.jpeg,.png,.gif,.webp">
        
            <!-- Campos para imágenes adicionales -->
            <label for="image1">Imagen adicional 1:</label>
            <input type="file" id="image1" name="image1" accept=".jpg,.jpeg,.png,.gif,.webp">
        
            <label for="image2">Imagen adicional 2:</label>
            <input type="file" id="image2" name="image2" accept=".jpg,.jpeg,.png,.gif,.webp">
        
            <label for="image3">Imagen adicional 3:</label>
            <input type="file" id="image3" name="image3" accept=".jpg,.jpeg,.png,.gif,.webp">
        
            <label for="image4">Imagen adicional 4:</label>
            <input type="file" id="image4" name="image4" accept=".jpg,.jpeg,.png,.gif,.webp">

              <label for="category">Categoría:</label>
              <input type="text" id="category" name="category" value="<%= product.category %>" required>
              
              <label for="stock">En Stock:</label>
              <input type="number" id="stock" name="stock" value="<%= product ? product.stock : 100 %>" required>

              <label for="price">Precio:</label>
              <input type="number" id="price" name="price" step="0.01" value="<%= product ? product.price : '' %>" required>

              <button type="submit" id="edit_button" class="botones_editar_producto">Actualizar Producto</button>
          </form>

          <!-- Botón para eliminar producto -->
          <form id="delete-form" action="/productos/delete/<%= product.id %>" method="POST" class="form_editar_productos" style="margin-top: 10px;">
              <button type="submit" class="botones_editar_producto" id="delete-button" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?')">Eliminar Producto</button>
          </form>
        <% } else { %>
          <p class="avisos_edit">Por favor, ingresa un ID válido para buscar el producto.</p>
        <% } %>
        <% if (errors && errors.length > 0) { %>
          <ul class="errores_productEdit">
              <% errors.forEach(error => { %>
                  <li><%= error.msg %></li>
              <% }) %>
          </ul>
      <% } %>      
        <!-- Enlace para ir a la página de agregar productos -->
        <p class="avisos_edit">
          ¿Quieres agregar un nuevo producto? 
          <a href="/products/productLoad">Haz clic aquí</a>
        </p>
      </div>
    </main>
    <footer><%- include("../partials/footer") %></footer>
    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/productEdit.js"></script>
  </body>
</html>
